# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python Caches
*__pycache__

# Custom configuration files (don't store as they will leak sensitive information)
MeetingSign/config.ini
MeetingSign/meetingSign.plist
