# Copy this file to 'config.py' in the same folder as the fetch python script...
myIcloudEmail='your_icloud_email@domain.com'
# Put in your iCloud App-Specific password
myIcloudPassword='your_amazing_password'
# If you wish the meeting sign to come on at the exact start time of the calendar event, change this to 0
startTimeOffset=5
# The BAUD shouldn't change unless absolutely needed to
arduinoSerialBaud=115200
# The PyiCloud Library fails when polling all calendars, so you'll have to hard-code in the GUID of the calendar you want
myCalendarpGuid='AAAAAAAA-BBBB-CCCC-DDDD-EEEEEEEEEEEE'
# Set to '' to have the script always checking the calendar...
startTime='08:00'
endTime='18:00'
# This will turn on the meeting sign if all-day events are detected...
enableAllDayEvents=False
# This variable is only changed by the manualSwitch.py script. Don't touch...
manual=False
